asgiref==3.11.1
Django==6.0.3
django-cors-headers==4.9.0
djangorestframework==3.16.1
docopt==0.6.2
docxtpl==0.20.2
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
num2words==0.5.14
python-docx==1.2.0
psycopg==3.3.3
psycopg-binary==3.3.3
sqlparse==0.5.5
typing_extensions==4.15.0
